html,
body {
    height: 100%;
}
body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
        Roboto, 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.5;

    margin: 0;
    padding: 0;

    background-color: whitesmoke;
}

[data-movies] {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 1rem;

    justify-items: center;

    padding: 15px;
}

.movie {
    display: grid;
    grid-template-areas:
        'poster'
        'description'
        'trailer';

    @media (min-width: 540px) {
        grid-template-areas:
            'poster description'
            'trailer trailer';
    }

    background-color: white;

    box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.5);

    &__image {
        grid-area: poster;
        min-width: 100%;
        max-width: 100%;
        height: auto;
    }

    &__description {
        grid-area: description;

        padding: 5px;
    }

    &__trailer {
        grid-area: trailer;

        min-height: 400px;
        margin-top: 10px;
    }
}
